.vscode-ctags
.vscode/
*.dtbo
*.dtb

*.o
*.ko
*.mod.c
*.mod.o
*.mod
*.o.cmd
*.ko.cmd
*.o.d
*.mod.c.cmd
*.mod.o.cmd
*.mod.cmd

modules.order
.modules.order.cmd
.Module.symvers.*
Module.symvers

**/venv/** 

**/tmp/
**/.debhelper
build/
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.gz